.callout[data-callout="claude-done"] {
  --callout-color: 100, 180, 100;
  --callout-icon: message-circle;
}

.callout[data-callout="claude"] {
  --callout-color: 180, 180, 180;
  --callout-icon: loader;
}
